<h1 id="title" class="title">Secret Santa</h1>
<p class="sub-title">Profil</p>

<div class="form-control-group">
    <label class="label" size="large">Identifiant</label>
    <input nbInput fullWidth value="{{user.id}}" fieldSize="large" autofocus disabled>
    <div class="form-control-group">
        <label class="label"  size="large">Nom</label>
        <input nbInput fullWidth value="{{user.name}}" fieldSize="large" autofocus disabled>
        <div class="form-control-group">
            <label class="label" size="large">Groupe</label>
            <!-- a changer le role par groupe -->
            <input nbInput fullWidth value="{{user.role}}" fieldSize="large" autofocus disabled>
        </div>