<nb-card>
  <nb-card-body>
    <nb-tabset>
      <nb-tab tabTitle="Evénement Santa Secret">
        <div class="row">
          <div class="col-sm-12">
            <nb-card>
              <nb-card-body>
                <nb-tabset fullWidth>
                  <nb-tab tabTitle="Tirage au sort">
                    <nb-card>
                      <nb-card-body class="embed-responsive" style="padding-bottom:40%">
                        <br><br><br><br><br><br><br>
                        <button nbButton class="offset-6" size="large"> Piocher </button>
                      </nb-card-body>
                    </nb-card>
                  </nb-tab>
                </nb-tabset>
              </nb-card-body>
            </nb-card>
          </div>
        </div>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>