<nb-card>
  <nb-card-body>
    <nb-tabset>
      <nb-tab tabTitle="Evénement Santa Secret">
        <div class="row">
          <div class="col-sm-12">
            <nb-card>
              <nb-card-body>
                <nb-tabset fullWidth>
                  <nb-tab tabTitle="Tirage au sort">
                    <nb-card>
                      <nb-card-body class="embed-responsive" style="padding-bottom:40%">
                        <!-- <iframe class="embed-responsive-item"
                          src="https://app.powerbi.com/reportEmbed?reportId=efe3243d-55d0-49cd-aef9-ec92eb8e9b7f&autoAuth=true&ctid=d5bb6d35-8a82-4329-b49a-5030bd6497ab&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLWV1cm9wZS1ub3J0aC1iLXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0In0%3D"
                          allowFullScreen="true"></iframe>  -->
                          <!-- exemple de api externe -->
                          <button nbButton > piocher </button>
                      </nb-card-body>
                    </nb-card>
                  </nb-tab>
                </nb-tabset>
              </nb-card-body>
            </nb-card>
          </div>
        </div>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>