<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#">
      <nb-icon icon="menu-outline"></nb-icon>
    </a>
    <div class="title" (click)="goToHome()" nbButton>
      <img class="picture" src="assets/logo.csv" alt="ico" />
    </div>
  </div>
  <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
    <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
  </nb-select>
</div>


<div class="header-container">
  <nb-actions size="small">
    <nb-action>
      <nb-search placeholder="Rechercher..." hint="" type="rotate-layout"></nb-search>
    </nb-action>
    <nb-action icon="bell-outline"></nb-action>
    <nb-action class="user-action">
      <nb-user [nbContextMenu]="userMenu" [onlyPicture]="userPictureOnly" [name]="username" size="small"
        [picture]="'assets/images/user4.png'">
      </nb-user>
    </nb-action>
  </nb-actions>
</div>